<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bridge Controller</title>
    <link rel="stylesheet" type="text/css"href="../static/mystyle.css">

</head>
<body>
<div class = "center">
    {% if error %}
      <p><strong>Error:</strong> {{ error }}
      {% endif %}
    <p>
        What do you want to do?
    </p>
    <form action="/" method="POST">
        <input type="submit" name="submit" value="OPEN">
        <input type="submit" name="submit" value="CLOSE">
    </form>
</div>
</body>
</html>