<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bridge Controller</title>
    <link rel="stylesheet" type="text/css" href="../static/mystyle.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <script type="text/javascript">
       function updateDisplay() {
                document.getElementById("state").innerHTML = customValue();
        }

               function customValue(status) {
            return status
        }


        setInterval(rfr,2000);

        function rfr () {
            let done = $.ajax({//jquery ajax variable
                type: 'get', //type of query
                contentType: 'text/pain', //data expected from server
                url: '/state', //the url od script


            })
                .done(function (status) {// after a succesfull exchange this function it will be executed
                    k = status.toString();
                    updateDisplay().refresh(k);
                })
        }
    </script>
</head>
<body>
<div class = "center">
    <h4>
        The Bridge is: <div id="state"><p></p></div>
    </h4>
    <p>
        What do you want to do?
    </p>
    <form action="/" method="POST">
        <input type="submit" name="submit" value="OPEN">
        <input type="submit" name="submit" value="CLOSE">
    </form>
</div>
<div class = "bottom">
    <p>
        Controller Commands
    </p>
    <form action="/" method="POST">
        <input type="submit" name="submit" value="RECO">
        <input type="submit" name="submit" value="DISCO">
    </form>
</div>
</body>
</html>