body {
    background-color: chartreuse;
    align-items: center;
    object-position: center;
}
.center {
    position: absolute;
    left: 40%;
    text-align: center;
    align-content: center;
    align-items: center;
    padding: 25px;
    width: 150px;
    border: 3px solid red;
}
.bottom {
    position: absolute;
    left: 75%;
    top: 75%;
    text-align: center;
    padding: 25px;
    border: 3px solid red;
    width: 150px;
}